@model ebSuccessWebSite.Models.UnitModel

<style>
    .editor-content {
        width: 100%;
        margin: 0 auto;
    }
</style>

<div class="editor-content">
    <form id="CreateUnitForm">
        <div class="form-group">
            <label for="Name">單元名稱</label>
            <input type="text" class="form-control" id="UnitName" name="UnitName" placeholder="請輸入單元名稱">
        </div>
        <hr>
        <div class="form-group" align="center">
            <button type="submit" class="btn btn-success">建立</button>
        </div>
    </form>
</div>

<script>

   

    $("#CreateUnitForm").submit(function (event) { 
        event.preventDefault();
        var formData = new FormData($(this)[0]);

        $.ajax({
            url: "@Url.Action("AddUnit", "Admin")",
            type: "POST",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (returndata) {
                if (returndata.Success) {
                    alert("新增成功");
                    RefreshPage();
                } else {
                    alert(returndata.Message);
                }
            }
        });
    });
</script>
